@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .paper-texture {
    background-image: url('https://images.unsplash.com/photo-1711107759674-9161698e570d?crop=entropy&cs=srgb&fm=jpg&ixid=M3w4NjA1NTZ8MHwxfHNlYXJjaHwxfHxwYXBlciUyMHRleHR1cmUlMjBjcmVhbSUyMGJhY2tncm91bmR8ZW58MHx8fHwxNzcwNTczMDMyfDA&ixlib=rb-4.1.0&q=85');
    background-blend-mode: multiply;
    background-size: cover;
    opacity: 0.5;
  }
}
